<!DOCTYPE html>
<header>
    <link rel="stylesheet/less" href="../css/index.less" type="text/css" />
</header>

<html xmlns="http://www.w3.org/1999/xhtml">


<head>    
  <title>less learning</title>
</head>
<body>

    <nav>
        <ul>
            <li><a>About</a></li>
            <li><a>Help</a></li>
            <li><a>Faq</a></li>
        </ul>
    </nav>

    <h1> This  should be 2em's larger than my standard font.</h1>

    <div>
        hello world
   <p id="colorWheel"> This is using color wheel  at 50%</p>
    
     </div>

   
</body>

</html>
<footer>    
    <script src="../Scripts/less-1.5.1.js"></script>
</footer>